body{
    background-image: url(../images/spider-man-pics/background.jpg);
    background-position: center; 
}
#triviaStyle{
    color:white;
    border-color: red;
    -webkit-text-stroke: 2px red; 
    font-weight: bold;
    font-size: 60px;
}

#start{
    background-color:white;
}

#main{
    width: 100%;
    height: 700px;
    background-color: aliceblue;
    font-size: 30px;
}

#endScreen{
    width: 100%;
    height: 700px;
    background-color: aliceblue;
    font-size: 30px;
}

#time{
    font-size: 30px;
}

